<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">ADMIN</span>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Admin", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Book <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("New Book", "Create", "Books")</li>
                            <li>@Html.ActionLink("View Books", "Index", "Books")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Author <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("New Author", "Create", "Authors")</li>
                            <li>@Html.ActionLink("View Authors", "Index", "Authors")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("New Genre", "Create", "Genres")</li>
                            <li>@Html.ActionLink("View Genres", "Index", "Genres")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("User", "Index", "Account")</li>
                </ul>
            </div>
            </div>
        </div>



        <div>
            @RenderBody()
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
